In [21]:
import json
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
DC = pd.DataFrame([json.loads(line) for line in open('./DC1125.json', 'r', encoding = 'utf8').readlines()])
# code, date, title, view, recommend 다 같으면 중복으로 처리
# print(DC.info())
DC.drop_duplicates(subset = DC.columns[1:], inplace=True)
DC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13571 entries, 0 to 13576
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        13571 non-null  object
 1   code       13571 non-null  object
 2   date       13571 non-null  object
 3   title      13571 non-null  object
 4   view       13571 non-null  object
 5   recommend  13571 non-null  object
dtypes: object(6)
memory usage: 742.2+ KB

In [30]:
DC

,_id,code,date,title,view,recommend
0,{'$oid': '619f8ec272ef621a85e798df'},008770,2021-11-23 15:09:00,호텔신라나 천천히 담아가야겠다,56,1
5,{'$oid': '619f8f4b72ef621a85e798e4'},008770,2021-11-22 15:00:25,신세계 vs 호텔신라 둘중 뭐 담을까? 위드코로나 수혜주,149,0
6,{'$oid': '619f8f4c72ef621a85e798e5'},008770,2021-11-20 00:22:54,호텔신라 이거 사실이냐??,105,0
7,{'$oid': '619f8f4c72ef621a85e798e6'},008770,2021-11-18 12:49:15,호텔신라 힘들꺼같냐?,128,0
8,{'$oid': '619f8f4d72ef621a85e798e7'},008770,2021-11-16 12:58:34,"진짜 절대 사지 말아야할건 한국전력, 호텔신라지 ㅋㅋㅋㅋㅋㅋㅋ",171,0
...,...,...,...,...,...,...
13572,{'$oid': '619f95c072ef621a85e7cde3'},069410,2021-09-20 01:23:03,"엔텔스, 휴젤, 다나와 < 얘넨 진짜라니깡",184,0
13573,{'$oid': '619f95c072ef621a85e7cde4'},069410,2021-09-20 01:19:34,반응 좋으니까 토트넘 후반전 시작전에 하나더,66,0
13574,{'$oid': '619f95c272ef621a85e7cde5'},069410,2021-09-14 17:53:32,메타버스는 사기다,166,0
13575,{'$oid': '619f95c272ef621a85e7cde6'},069410,2021-09-13 14:26:24,엔텔스 <<이 개씹새끼 언제오름?,47,0
13576,{'$oid': '619f95c772ef621a85e7cde7'},069410,2021-08-25 12:28:42,엔텔스 가주아,58,0

In [28]:
NAVER = pd.DataFrame([json.loads(line) for line in open('./naver_1114.json', 'r', encoding = 'utf8').readlines()])
# code, title 다 같으면 중복으로 처리, view 합체
NAVER.drop_duplicates(subset = ['code', 'title'], inplace=True)
NAVER.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78798 entries, 0 to 79014
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     78798 non-null  object
 1   code    78798 non-null  object
 2   date    78798 non-null  object
 3   title   78798 non-null  object
 4   views   78798 non-null  object
 5   pos     78798 non-null  object
 6   neg     78798 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB

In [29]:
NAVER

,_id,code,date,title,views,pos,neg
0,{'$oid': '6191bdc5dcf6bc26b37e2c53'},008770,2021.11.15 10:44,공매많은 종목인가요?,7,0,0
1,{'$oid': '6191bdc5dcf6bc26b37e2c54'},008770,2021.11.15 10:24,잡주야 잡주야.,32,0,0
2,{'$oid': '6191bdc5dcf6bc26b37e2c55'},008770,2021.11.15 10:16,안녕하세요 오늘 입성했습니다,144,2,0
3,{'$oid': '6191bdc5dcf6bc26b37e2c56'},008770,2021.11.15 10:14,흔들리는건 너의 마음이니라,90,0,0
4,{'$oid': '6191bdc5dcf6bc26b37e2c57'},008770,2021.11.15 10:07,호텔신라 문의 드립니다.,68,0,2
...,...,...,...,...,...,...,...
79010,{'$oid': '6191d000dcf6bc26b37f60f5'},069410,2021.11.02 15:42,아직도 바닥 기고 있군~~보초병 1 세워볼까,167,0,2
79011,{'$oid': '6191d000dcf6bc26b37f60f6'},069410,2021.11.02 15:23,오늘 SKT 출범식,403,5,3
79012,{'$oid': '6191d000dcf6bc26b37f60f7'},069410,2021.11.02 11:46,아버지왈 너는 뭐하는얘니???,222,0,1
79013,{'$oid': '6191d000dcf6bc26b37f60f8'},069410,2021.11.02 11:12,외인들이,169,0,1
79014,{'$oid': '6191d000dcf6bc26b37f60f9'},069410,2021.11.02 10:15,죽은자식,189,5,0